<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.runner.sportsmeter">

    <uses-feature
            android:name="android.hardware.location.gps"
            android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    // for parse push notification
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:protectionLevel="signature"
                android:name="com.runner.sportsmeter.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.runner.sportsmeter.permission.C2D_MESSAGE"/>

    <application
            android:allowBackup="true"
            android:name="com.runner.sportsmeter.ParseApplication"
            android:icon="@mipmap/logo_christmas"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name="com.runner.sportsmeter.activities.StartActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.runner.sportsmeter.MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.runner.sportsmeter.activities.LeaderBoardActivity"
                  android:label="@string/menu_leaderboard"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.runner.sportsmeter.activities.AccountActivity"
                  android:label="@string/my_account"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.runner.sportsmeter.activities.SaveSessionActivity"
                  android:label="@string/saving_session"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.runner.sportsmeter.activities.AboutActivity"
                  android:label="@string/about_application"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.runner.sportsmeter.activities.HelpActivity"
                  android:label="@string/help_page"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.runner.sportsmeter.activities.PostFacebookFragment"
                  android:label="@string/post_on_facebook"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.runner.sportsmeter.activities.WorldMapActivity"
                  android:label="@string/world_map"
                  android:screenOrientation="landscape">
        </activity>
        <activity android:name="com.runner.sportsmeter.activities.ConnectGoogleFitActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.runner.sportsmeter.activities.LiteMapListActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.parse.ui.ParseLoginActivity"
                android:label="@string/app_name"
                android:launchMode="singleTop">
            <!-- For more options, see https://www.parse.com/docs/android_guide#ui-login -->
            <meta-data
                    android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                    android:value="true"/>
            <meta-data
                    android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                    android:value="true"/>
            <meta-data
                    android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                    android:value="true"/>
            <meta-data
                    android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                    android:value="true"/>
            <meta-data
                    android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_PERMISSIONS"
                    android:value="@array/facePermissions"/>
            <meta-data
                    android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_PERMISSIONS_STRING_ARRAY"
                    android:value="@array/facePermissions"/>
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                          "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name"/>
        <activity
                android:name="com.google.android.gms.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:theme="@android:style/Theme.Translucent"/>
        <meta-data
                android:name="com.parse.APPLICATION_ID"
                android:value="@string/parse_app_id"/>
        <meta-data
                android:name="com.parse.CLIENT_KEY"
                android:value="@string/parse_client_key"/>
        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        // push notifications
        <service android:name="com.parse.PushService"/>
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE"/>
                <action android:name="com.parse.push.intent.OPEN"/>
                <action android:name="com.parse.push.intent.DELETE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.runner.sportsmeter"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>